.Body{
    width: 100vw;
    background-color: rgb(235,235,235);
    display: flex;
    justify-content: center;
}
.BodyContent{

    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}

.section2{
    width: 70%;
}
.section3{
    width: 25%;
}
.leftBar{
    height: 500px;
}
.middlebar{
    height: 300px;
}
.rightBar{
    height: 500px;   
}
.searchBar{
    height: 200px;
    
}